@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.nav {
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
}

.brand__name {
  cursor: pointer;
}
.brand__name a:hover {
  color: #0088a9;
}
.nav__links {
  text-decoration: none;
  list-style: none;
}

.link {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
  color: #0088a9;
}
